/* public/style.css */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
    margin: 0;
  }
  
  form {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-right: 12rem;
    
  }
  
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  input {
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  #signup{
    position: relative;
    bottom: 15rem;
    left: 14rem;
  }
  
  button {
    margin-top: 1.5rem;
    padding: 0.7rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  